/* CSS Document */

body							{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:	0 0 0 0}

/* ICONS LOOK */
.iconView 				{background-image: url("../icons/eye.png") !important;}
.iconEdit 				{background-image: url("../icons/pencil.png") !important;}
.iconDelete 			{background-image: url("../icons/cross.png") !important;}
.iconSelect 			{background-image: url("../icons/accept.png") !important;}
.iconSearch 			{background-image: url("../icons/find.png") !important;}
.iconAdd 				{background-image: url("../icons/add.png") !important;}

#userInfo 				{position: absolute;top: 0px;right: 0px;margin-right: 15px;margin-top: 15px;text-align: right;font-size: 12px;}

.red					{color:red;}

.rowred					{background-color:red;}
.rowgreen				{background-color:green;}

#userInfo a 			{text-decoration: none;}

.userInfo-welcome 		{background: transparent url("../icons/home.png") no-repeat center left;height:24px;padding: 5px 5px 5px 20px;}
.userInfo-user 			{background: transparent url("../icons/login.png") no-repeat center left;padding : 5px 5px 5px 20px;}

#layout							{width:100%;margin:auto;border:0px solid #00CCFF;}

.logintable				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;margin:auto;}
.logintable	td			{padding:5px;}
.logintable input[type="password"]	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:155px;height:17px;}
.logintable input[type="text"]		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:157px;height:17px;}
.logintable input[type="submit"]	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}

#companytitle					{width:100%;background-color:#182839;height:42px;border:0px solid #00CCFF;position:relative;}
.companytitletable				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#fff;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;height:44px;margin:auto;}
#companytitle a					{font-family:Verdana, Arial, Helvetica, sans-serif;color:#fff;font-size:8pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px;text-transform: uppercase;}
#companytitle a:hover			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#fff47a;font-size:8pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px;text-transform: uppercase;}

.companyname					{font-family:Arial, Helvetica, sans-serif;color:#fff;font-size:20pt;font-weight:normal;text-decoration:none;font-style:normal;padding-left:5px;}
.companytitletable .yellow		{color:#fff47a;}

#submenu form div				{background:transparent;border:0px solid #000;font-family:Verdana, Arial, Helvetica, sans-serif;color:#ffffff;font-size:8pt;}
#submenu form div ul li a		{border:0px solid #000;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;cursor:pointer;}
#submenu form div ul li ul li a	{border:0px solid #000;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;cursor:pointer;}

#menu							{width:100%;background-color:#2f5a7e;height:34px;border-top:1px solid #4078a3;}

#submenu						{width:100%;background-color:#e0e0e0;height:34px;border-top:1px solid #ffffff;}

#footer							{width:100%;background-color:#182839;border:0px solid #00CCFF;position:relative;text-align:center;horizental-align:middle;color:#babfc4;font-family:Verdana, Arial, Helvetica, sans-serif;padding:25px 0px 25px 0px;margin:11px 0px 0px 0px;}

#pagetitle						{font-family:Arial, Helvetica, sans-serif;color:#003968;font-size:17pt;font-weight:normal;text-decoration:none;font-style:normal;text-align:center;margin-top:17px;margin-bottom:17px;}

#bodycontent					{font-family:Verdana, Arial, Helvetica, sans-serif;color:#003968;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:99%;margin:auto;}
#bodycontent legend				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;margin:0px 0px 10px 0px;background-attachment:scroll;background-image:url(../img/legendbg.gif);background-position:bottom center;background-repeat:repeat-x;border:1px solid #bfd1ea;}
#bodycontent fieldset			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;padding:10px 10px 8px 10px;border:1px solid #bfd1ea;margin:0px 0px 10px 0px;}

.fieldsetdesctable				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;margin:0px 0px 17px 0px;}
.fieldsetdesctable td			{}

.fieldsetinfo1table				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;margin:0px 0px 17px 0px;}
.fieldsetinfo1table td			{width:17%;padding:9px 0px 0px 0px;}

.fieldsetinfo1table input		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:150px;height:17px;margin-top:3px;}
.fieldsetinfo1table select		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:156px;height:17px;margin-top:3px;}

.fieldsetinfo1table button[id="form:void"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:stop"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:stopReplace"]	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:reissue"]		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:yes"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:No"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:check"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table button[id="form:wire"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetinfo1table textarea {font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;border:1px solid #cccccc;width:300px;height:100px;margin:0px 0px 10px 0px;}

.fieldsetnewacctable td legend	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;margin:0px 0px 10px 0px;background-attachment:scroll;background-image:url(../img/legendbg.gif);background-position:bottom center;background-repeat:repeat-x;border:1px solid #bfd1ea;}
.fieldsetnewacctable td fieldset{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;padding:10px 10px 8px 10px;border:1px solid #bfd1ea;margin:0px 0px 10px 0px;}

.fieldsetnewacctable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;border-collapse:collapse;margin:0px 0px 11px 0px;}
.fieldsetnewacctable td			{padding:1px 5px 0px 0px;}

.fieldsetnewacctablesub			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;border-collapse:collapse;margin:0px 0px 11px 0px;}
.fieldsetnewacctablesub td			{padding:0px 5px 0px 0px;height:35px;}

.fieldsetnewacctable input		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:150px;margin-top:3px;}
.fieldsetnewacctable select		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:156px;height:17px;margin-top:3px;}

#buttonsection					{margin-top:10px;width:100%;border:00px solid #000;text-align:center;}
#buttonsection button			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}

#bodycontent p button 			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:5px 4px 5px 4px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;}

.space							{padding:0px 0px 0px 0px;}

.fieldsetaccounttable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;}
.fieldsetaccounttable td		{height:20px;}
.fieldsetaccounttable .bluetext {font-family:Verdana, Arial, Helvetica, sans-serif;color:#003e77;font-size:7.5pt;font-weight:bold;text-decoration:none;font-style:normal;text-transform: uppercase;text-align:center;}
.bluetext 						{font-family:Verdana, Arial, Helvetica, sans-serif;color:#003e77;font-size:7.5pt;font-weight:bold;text-decoration:none;font-style:normal;text-transform: uppercase;}

.fieldsetcontacttable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;}
.fieldsetcontacttable td		{height:20px;}

.fieldsetmcontacttable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;}
.fieldsetmcontacttable td		{padding:3px;}
.fieldsetmcontacttable button[type="submit"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetmcontacttable button[ type="reset"]			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;}
.fieldsetmcontacttable label	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;}
span[id="form:contacts"] button[type="submit"]	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;font-style:normal;padding:0px 0px 0px 0px;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;margin-right:10px;height:31px;margin-top:15px;}

.fieldsettaxtable				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:100%;}
.fieldsettaxtable td			{padding:5px;}

.fieldsetchecktable				{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;width:50%;margin: auto;}
.fieldsetchecktable td			{padding:5px;}

.fieldsetaddresstable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:0px 0px 10px 0px;}
.fieldsetaddresstable td		{height:20px;padding-right:5px;}
.fieldsetaddresstable1 table 	{width:100%;}
.fieldsetaddresstable1 table thead tr th	{width:1%;}
.fieldsetaddresstable1 table tbody tr td	{width:1%;}
.fieldsetaddresstable1 table tbody tr td input	{width:95%;}

.fieldsetaddresstable2 table 	{width:100%;}
.fieldsetaddresstable2 table thead tr th	{width:1%;}
.fieldsetaddresstable2 table tbody tr td	{width:1%;}
.fieldsetaddresstable2 table tbody tr td input	{width:95%;}

.fieldsetsearchtable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:auto; width:70%;}
.fieldsetsearchtable input[name="form:city"]	{width:90px;}
.fieldsetsearchtable input[name="form:state"]	{width:65px;}
.fieldsetsearchtable input[name="form:zip"]		{width:65px;}
.fieldsetsearchtable input[id=Other]		{width:160px;height:18px;}
.fieldsetsearchtable td			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;padding-right:5px;height:30px;}

.fieldsetcalllogtable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:0px 0px 20px 0px; width:100%;}
.fieldsetcalllogtable td		{height:29px;width:20%}
.fieldsetcalllogtable1			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:10px 0px 10px 0px;}
.fieldsetcalllogtable1 td		{padding:0px 0px 0px 5px;}
.fieldsetcalllogtable1 textarea {font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;border:1px solid #cccccc;width:300px;height:100px;margin:0px 0px 10px 0px;}
.fieldsetcalllogtable2			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:10px 0px 10px 0px;width:100%;}
.fieldsetcalllogtable2 th.ui-state-default		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:bold;text-decoration:none;font-style:normal;padding:10px 0px 10px 0px;}

#butt							{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:11pt;font-weight:normal;text-decoration:none;font-style:normal;background-attachment:scroll;background-image:url(../img/buttonbg.gif);background-position:top center;background-repeat:repeat-x;border:1px solid #87a0ff;cursor:pointer;height:30px;width:65px;}

a:link							{font-family:Verdana, Arial, Helvetica, sans-serif;color:#003e77;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;}
a:hover							{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;}

input[type=text]				{border:1px solid #d6d3d6;width:160px;}

.standardContentPanel 			{width: 100%;margin:0px auto;border: 0;}

.bold							{font-weight: bold;}

.fieldsetreissuetable			{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;margin:10px 0px 10px 0px;width:100%;border-top:1px solid #b5c0d0;border-left:1px solid #b5c0d0;}
.fieldsetreissuetable .header	{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;background-attachment:scroll;background-image:url(../img/table_headerbg.gif);background-position:bottom left;background-repeat:repeat-x;height:44px;}
.fieldsetreissuetable .row1		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;height:30px;background-color:#fff;}
.fieldsetreissuetable .row2		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;height:30px;background-color:#f4f4f4;}
.fieldsetreissuetable td		{font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-size:7.5pt;font-weight:normal;text-decoration:none;font-style:normal;border-right:1px solid #b5c0d0;border-bottom:1px solid #b5c0d0;padding-left:5px;padding-right:5px;}

table							{border-collapse:collapse;}

.right							{text-align: right;float: right;}